**/node_modules
**/dist
**/build
**/.venv
**/venv
**/__pycache__
**/*.pyc
**/*.tsbuildinfo
.env
.env.local
.env.*.local
.git
.github
.vscode
.idea
*.md
LICENSE
Makefile
.dockerignore
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
